<%= form_for(@organism_group_row) do |f| %>
  <% if @organism_group_row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organism_group_row.errors.count, "error") %> prohibited this organism_group_row from being saved:</h2>

      <ul>
      <% @organism_group_row.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organism_group_id %><br />
    <%= f.number_field :organism_group_id %>
  </div>
  <div class="field">
    <%= f.label :ncbi_taxon_id %><br />
    <%= f.number_field :ncbi_taxon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
