<h1>Listing organism_group_rows</h1>

<table>
  <tr>
    <th>Organism group</th>
    <th>Ncbi taxon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organism_group_rows.each do |organism_group_row| %>
  <tr>
    <td><%= organism_group_row.organism_group_id %></td>
    <td><%= organism_group_row.ncbi_taxon_id %></td>
    <td><%= link_to 'Show', organism_group_row %></td>
    <td><%= link_to 'Edit', edit_organism_group_row_path(organism_group_row) %></td>
    <td><%= link_to 'Destroy', organism_group_row, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organism group row', new_organism_group_row_path %>
